[submodule "libs/VirtuaAPU"]
	path = libs/VirtuaAPU
	url = https://github.com/MatheoVignaud/VirtuaAPU.git
[submodule "libs/tmc-Android-Experimental"]
	path = libs/tmc-Android-Experimental
	url = https://github.com/MatheoVignaud/tmc-Android-Experimental.git
[submodule "libs/tmc-Modern-Launcher"]
	path = libs/tmc-Modern-Launcher
	url = https://github.com/MatheoVignaud/tmc-Modern-Launcher.git
[submodule "rcheevos"]
	path = libs/rcheevos
	url = https://github.com/RetroAchievements/rcheevos.git
